{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}


<div class="card my-5">
  <div class="card-body">
    <b style="font-size:25px;">В'ячеслав Конєчко</b>
    <b style="font-size:25px;float:right;">Resume project</b>
  </div>
</div>


<div class='p-5'>
  <div class="mb-5">
    <h1>Список сторінок</h1>

    <p>Мій перший pet-ptoject</p>
  </div>

  <div class="my-2">
    <a href="/summary" target="_blank" class='btn btn-primary'>Summary</a>
  </div>

  <div class="my-2">
    <a href="/bio" target="_blank" class='btn btn-primary'>Bio</a>
  </div>

  <div class="my-2">
    <a href="/car" target="_blank" class='btn btn-primary'>Car</a>
  </div>

  <div class="my-2">
    <a href="/education" target="_blank" class='btn btn-primary'>Education</a>
  </div>

  <div class="my-2">
    <a href="/facebook" target="_blank" class='btn btn-primary'>Facebook</a>
  </div>

  <div class="my-2">
    <a href="/js" target="_blank" class='btn btn-primary'>JS</a>
  </div>

  <div class="my-2">
    <a href="/mac" target="_blank" class='btn btn-primary'>Mac</a>
  </div>

  <div class="my-2">
    <a href="/person" target="_blank" class='btn btn-primary'>Person</a>
  </div>

  <div class="my-2">
    <a href="/program" target="_blank" class='btn btn-primary'>Program</a>
  </div>

  <div class="my-2">
    <a href="/shopcart" target="_blank" class='btn btn-primary'>Shopcart</a>
  </div>

  <div class="my-2">
    <a href="/shopcatalog" target="_blank" class='btn btn-primary'>Shopcatalog</a>
  </div>

  <div class="my-2">
    <a href="/shophome" target="_blank" class='btn btn-primary'>Shophome</a>
  </div>

  <div class="my-2">
    <a href="/shoporder" target="_blank" class='btn btn-primary'>Shoporder</a>
  </div>

  <div class="my-2">
    <a href="/shopprofile" target="_blank" class='btn btn-primary'>Shopprofile</a>
  </div>

  <div class="my-2">
    <a href="/shopreview" target="_blank" class='btn btn-primary'>Shopreview</a>
  </div>

  <div class="my-2">
    <a href="/skills" target="_blank" class='btn btn-primary'>Skills</a>
  </div>

  <div class="my-2">
    <a href="/task21" target="_blank" class='btn btn-primary'>Task21</a>
  </div>

  <div class="my-2">
    <a href="/task22" target="_blank" class='btn btn-primary'>Task22</a>
  </div>

  <div class="my-2">
    <a href="/task31" target="_blank" class='btn btn-primary'>Task31</a>
  </div>

  <div class="my-2">
    <a href="/web" target="_blank" class='btn btn-primary'>Web</a>
  </div>

  <div class="my-2">
    <a href="/work" target="_blank" class='btn btn-primary'>Work</a>
  </div>


  {{!
  Цей код містить лише те, що буде виводитись в

  <body>
    Адже наш layout/default.hbs має вже структуру HTML
    }}