{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}


<div class="card my-5">
  <div class="card-body">
    <b style="font-size:25px;">В'ячеслав Конєчко</b>
    <b style="font-size:25px;float:right;">Resume project</b>
  </div>
</div>


<div class='p-5'>
  <div class="mb-5">
    <h1>Список сторінок</h1>

    <p>Мій перший pet-ptoject</p>
  </div>

  <div class="my-2">
    <a href="/summary" class='btn btn-primary'>Summary</a>
  </div>

  <div class="my-2">
    <a href="/bio" class='btn btn-primary'>Bio</a>
  </div>

  <div class="my-2">
    <a href="/car" class='btn btn-primary'>Car</a>
  </div>

  <div class="my-2">
    <a href="/education" class='btn btn-primary'>Education</a>
  </div>

  <div class="my-2">
    <a href="/facebook" class='btn btn-primary'>Facebook</a>
  </div>

  <div class="my-2">
    <a href="/js" class='btn btn-primary'>JS</a>
  </div>

  <div class="my-2">
    <a href="/mac" class='btn btn-primary'>Mac</a>
  </div>

  <div class="my-2">
    <a href="/person" class='btn btn-primary'>Person</a>
  </div>

  <div class="my-2">
    <a href="/program" class='btn btn-primary'>Program</a>
  </div>

  <div class="my-2">
    <a href="/shopcart" class='btn btn-primary'>Shopcart</a>
  </div>

  <div class="my-2">
    <a href="/shopcatalog" class='btn btn-primary'>Shopcatalog</a>
  </div>

  <div class="my-2">
    <a href="/shophome" class='btn btn-primary'>Shophome</a>
  </div>

  <div class="my-2">
    <a href="/shoporder" class='btn btn-primary'>Shoporder</a>
  </div>

  <div class="my-2">
    <a href="/shopprofile" class='btn btn-primary'>Shopprofile</a>
  </div>

  <div class="my-2">
    <a href="/shopreview" class='btn btn-primary'>Shopreview</a>
  </div>

  <div class="my-2">
    <a href="/skills" class='btn btn-primary'>Skills</a>
  </div>

  <div class="my-2">
    <a href="/task21" class='btn btn-primary'>Task21</a>
  </div>

  <div class="my-2">
    <a href="/task22" class='btn btn-primary'>Task22</a>
  </div>

  <div class="my-2">
    <a href="/task31" class='btn btn-primary'>Task31</a>
  </div>

  <div class="my-2">
    <a href="/web" class='btn btn-primary'>Web</a>
  </div>

  <div class="my-2">
    <a href="/work" class='btn btn-primary'>Work</a>
  </div>


  {{!
  Цей код містить лише те, що буде виводитись в

  <body>
    Адже наш layout/default.hbs має вже структуру HTML
    }}