<nav>
	{{> link text="summary" href="/summary" line=false}}
	{{> link text="skills" href="/skills" line=false}}
	{{> link text="education" href="/education" line=false}}
	{{> link text="work" href="/work" line=false noLine=true}}		
</nav>