<nav>
	{{> link text="summary" href="/summary" line=false}}
	{{> link text="skills" href="/skills" line=false}}
	{{> link text="education" href="/education" line=false}}
	{{> link text="work" href="/work" line=false noLine=false}}	
	{{> link text="bio" href="/bio" line=false noLine=false}}
	{{> link text="bootstrap" href="/bootstrap" line=false noLine=false}}
	{{> link text="car" href="/car" line=false noLine=false}}
	{{> link text="facebook" href="/facebook" line=false noLine=false}}
	{{> link text="js" href="/js" line=false noLine=false}}
	{{> link text="mac" href="/mac" line=false noLine=false}}
	{{> link text="person" href="/person" line=false noLine=false}}
	{{> link text="program" href="/program" line=false noLine=false}}
	{{> link text="web" href="/web" line=false noLine=false}}
	{{> link text="task21" href="/task21" line=false noLine=false}}
	{{> link text="task22" href="/task22" line=false noLine=false}}
	{{> link text="task31" href="/task31" line=false noLine=true}}
	{{> link text="shophome" href="/shophome" line=false noLine=true}}
</nav>